.container {
    margin: 50px 0;

}

.card{ 
    margin: 0 2% !important;
}

.confirmed{
    border-top: 5px solid rgba(11, 4, 231, 0.663);
    border-bottom: 5px solid rgba(11, 4, 231, 0.663);
}
.recovered{
    border-top: 5px solid rgba(53, 190, 4, 0.574);
    border-bottom: 5px solid rgba(53, 190, 4, 0.574);
}
.deaths{
    border-top: 5px solid rgba(255, 0, 0, 0.663);
    border-bottom: 5px solid rgba(255, 0, 0, 0.663);
}

@media ( max-width: 770px){
    .card{
        margin: 2% 0 !important;
    }
}